{% extends 'pdflist/base.html '%}
{% block title %}About{% endblock %}
{% block content %}

<h2> Welcome To BookShelf <small>A place of containing Books</small></h2>
<div class="col-sm-12  col-md-12 ">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>What is Bookshelf?</h2>
            <p class="mt-2 ml-2">BookShelf is a place where you can read or download pdf books. You can also upload books
                in private that no one can access this or you can upload books in public and share your library with other users.</p>
            <h3>Best Use of Bookshelf?</h3>
            <p class="mt-2 ml-2">You can read and upload books only by create an account or login. This Website made only for personal use
               not for any commercial purposes. It is made by django backend so every password encrypted before it stored.
                Then you are authorized to upload or access books. You can also set your profile.
            </p>
            <h3 style="color: red;">Details and Recommendations!</h3>
            <ul>
                <li>Use Gmail to create account in the app it helps to reset your password</li>
                <li>Don't upload any antisocial books. Authority has rights to delete your book as well as your account</li>
                <li>You can update and delete your post anytime you like</li>
                <li>The page is always Updated. So you can see the recent posts top of the list</li>
            </ul>
            <h3 style="color: red;">Note:</h3>
            <p class="mt-2 ml-2 mb-5"> This website is made only for developing skill. This is personal website not any
            organizations or company </p>
        </div>
    </div>
</div>
{% endblock %}



