{% extends 'pdflist/base_about.html '%}
{% block title %}Contacts{% endblock %}
{% block content %}
<div class="col-md-8 col-lg-6">
<h3 class="co" style="margin-bottom: 60px"> check My Social Contacts:  </h3>
    <ul>
        <li>
            <a href="https://www.facebook.com/sc.saha.9" target="_blank">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-facebook" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/withsunnysaha/?hl=en" target="_blank">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-instagram" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/scsahasunny" target="_blank">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-twitter" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/sunny-saha-972205160/" target="_blank">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-linkedin" aria-hidden="true"></span>
            </a>
        </li>
    </ul>
</div>
{% endblock content %}